<!DOCTYPE html>
<meta charset="utf-8">
<title>Laser Control</title>
<style>

@import url(//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);

#graph-laser { min-height: 10px;}
#graph-TEC { min-height: 10px;}
#graph-temperatures { min-height: 10px;}


</style>
<body>

<div id="body">

<h1>PorTel Beacon Board</h1>

<h2 id="status">Connecting ...</h2>

<div id="status-lights">
<button id="alert_indicator" class="button color-3" >System Status</button>
<button id="laser_indicator" class="button color-3" >Laser Status</button>
<button id="power_indicator" class="button color-3" >Power Status</button>
<button id="comm_indicator" class="button color-3" >Comm Status</button>
</div>

<h2>Control Buttons</h2>
<div id="buttons"></div>
<button id="laser_switch" class="button color-3" onclick="onclickbtn('laser_switch')">Laser On/Off</button>
<button id="TEC_switch" class="button color-3" onclick="onclickbtn('TEC_switch')">TEC On/Off</button>
</div>

<h2>Control Setpoint Sliders</h2>
<div id="slider-block-temp">
<p>Temperature Set Point [C]</p>
<div id="temp-slider"></div>
</div>

<div id="slider-block-avg">
<p>Average Optical Power Set Point [W]</p>
<div id="avg-slider"></div>
</div>

<div id="slider-block-mod">
<p>Optical Power Modulation Depth Set Point [W]</p>
<div id="mod-slider"></div>
</div>


<div id="graph-block">
Laser Driver
<div id="graph-laser"></div>

Thermo-electric Cooler
<div id="graph-TEC"></div>

</div>



<h3>Built with <a href="https://square.github.io/cubism/">Cubism.js</a> and <a href="https://simeydotme.github.io/jQuery-ui-Slider-Pips/">Slider Pips</a></h3>

</div>

<script src="../static/d3.v2.js"></script>
<script src="../static/cubism.v1.js"></script>

<script src="../static/jquery-ui-1.12.1.custom/external/jquery/jquery.js"></script>
<script src="../static/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<link rel="stylesheet" href="../static/jquery-ui-1.12.1.custom/jquery-ui.css">
<script src="../static/jquery-ui-slider-pips.js"></script>
<link rel="stylesheet" href="../static/jquery-ui-slider-pips.css">

<link rel="stylesheet" href="../static/style.css">

<script>

var loc = window.location, new_uri;
if (loc.protocol === "https:") {
    new_uri = "wss:";
} else {
    new_uri = "ws:";
}
new_uri += "//" + loc.host;
new_uri += loc.pathname + "ws";

var ws = new WebSocket(new_uri);

var metric_callbacks = {};

ws.addEventListener("open", function() {
    ws.send(JSON.stringify({
        client: 'page'
    }));})

ws.onmessage = function(event) {
    var pck = JSON.parse(event.data);
    if (pck.hasOwnProperty("event")) {
        if (pck["event"] == "connected") {
            document.getElementById("status").innerHTML = pck["message"];
            document.getElementById("status").style.color  = "#006600";
        } else if (pck["event"] == "set button") {
			document.getElementById(pck["btn name"]).innerHTML = pck["message"];
			document.getElementById(pck["btn name"]).className = "button " + pck["color"];
		} else if (pck["event"] == "set slider") {
            //What do we do to set slider?
            //document.getElementById(pck["slider name"]).slider('value',pck["value"])
            document.getElementById("temp-slider").value(pck["value"])
        }
    }else if (pck.hasOwnProperty("name")) {
        if (pck["name"] in metric_callbacks) {
            metric_callbacks[pck["name"]](null, pck["data"]);
            delete metric_callbacks[pck["name"]];
        }
    }
};

ws.onclose = function(event) {
    document.getElementById("status").innerHTML = "Disconnected";
    document.getElementById("status").style.color  = "#990000";
};

$("#temp-slider")
    .slider({
        change: function(event,ui){onslidermove("temp_slider",ui)},
        max: 50,
        min: 0,
        values: 0,
        step:1
    })
    .slider("pips", {
        rest: "label",
        step: 5
    });
    
$("#avg-slider")
    .slider({
        change: function(event,ui){onslidermove("avg_slider",ui)},
        max: 5,
        min: 0,
        values: 0,
        step: 0.1
    })
    .slider("pips", {
        rest: "label",
        step: 5
    });
    
$("#mod-slider")
    .slider({
        change: function(event,ui){onslidermove("mod_slider",ui)},
        max: 5,
        min: 0,
        values: 0,
        step:0.1
    })
    .slider("pips", {
        rest: "label",
        step:5
    });

function onslidermove(slider_name, ui){
    function sendrequestslider() {
        ws.send(JSON.stringify({
            'slider name': slider_name,
            'value' : ui.value
        }));
    }

    if (ws.readyState === WebSocket.OPEN) {
        sendrequestslider();
    }
    else {
        ws.addEventListener("open", function() {sendrequestslider()});
    }
}

function onclickbtn(button_name) {
	function sendrequestbtn(button_name) {
        ws.send(JSON.stringify({
            'btn name': button_name
        }));
    }
    
    if (ws.readyState === WebSocket.OPEN) {
        sendrequestbtn(button_name);
    }
    else {
        ws.addEventListener("open", function() {sendrequestbtn(button_name)});
    }
}

function python(name) {
  var value = 0,
      values = [],
      i = 0,
      last;
  return context.metric(function(start, stop, step, callback) {
    
    function sendrequest(start, stop, step, callback) {
        start = +start, stop = +stop, step = +step;
        console
        if (isNaN(last)) last = start;
        ws.send(JSON.stringify({
            name: name,
            start: start,
            stop: stop,
            step: step
        }));
        
        metric_callbacks[name] = callback;
    }
    
    if (ws.readyState === WebSocket.OPEN) {
        sendrequest(start, stop, step, callback);
    }
    else {
        ws.addEventListener("open", function() {sendrequest(start, stop, step, callback)});
    }
  }, name);
}

</script>

<script>

var context = cubism.context()
    .serverDelay(0)
    .clientDelay(0)
    .step(1e2)
    .size(1500);
    
var LaserIAVG = python("LaserIAVG");
    LaserIPeak = python("LaserIPeak");
    LaserPDAVG = python("LaserPDAVG");
    LaserPDModulation = python("LaserPDModulation");
    temp = python("temp");
    TECV = python("TECV");
    TECI = python("TECI");


d3.select("#graph-block").append("div")
        .attr("class", "rule")
        .call(context.rule());
        
d3.select("#graph-laser").call(function(div) {

    div.append("div")
        .attr("class", "horizon")
        .attr("SIunit", "Au")
        .call(context.horizon()
            .metric(LaserIAVG)
            .height(50)
            .title("Laser Drive Current Average")
            .format(d3.format(".2f"))
            .extent([0, 10]));
            
    div.append("div")
        .attr("class", "horizon")
        .attr("SIunit", "Au")
        .call(context.horizon()
            .metric(LaserIPeak)
            .height(50)
            .title("Laser Drive Current Peak")
            .format(d3.format(".2f"))
            .extent([0, 10]));
        
    div.append("div")
        .attr("class", "horizon")
        .attr("SIunit", "Wu")
        .call(context.horizon()
            .metric(LaserPDAVG)
            .height(50)
            .title("Average Optical Power")
            .format(d3.format(".2f"))
            .extent([0, 10]));

    div.append("div")
    .attr("class", "horizon")
    .attr("SIunit", "Wu")
    .call(context.horizon()
        .metric(LaserPDModulation)
        .height(50)
        .title("Optical Modulation P2P")
        .format(d3.format(".2f"))
        .extent([0, 10]));
      
    div.append("div")
        .attr("class", "axis")
        .call(context.axis().orient("bottom"));

});
    
d3.select("#graph-TEC").call(function(div) {

    div.append("div")
      .attr("class", "horizon")
      .attr("SIunit", "temp")
      .call(context.horizon()
        .metric(temp)
        .height(50)
        .colors(['#6baed6','#e49689'])
        .title("Laser Temperature")
        .format(d3.format(".1f"))
        .extent([-40, 70]));
      
  div.append("div") //Todo: better colors
      .attr("class", "horizon")
      .attr("SIunit", "Vu")
      .call(context.horizon()
        .metric(TECV)
        .height(50)
        .colors(['#b22222','#ce6153','#e49689','#f5cac3', '#bdd7e7', '#6baed6', '#3182bd', '#08519c'])
        .title("TEC Voltage")
        .format(d3.format(".2f"))
        .extent([-5, 5]));
      
  div.append("div") //Todo: better colors
      .attr("class", "horizon")
      .attr("SIunit", "A")
      .call(context.horizon()
        .metric(TECI)
        .height(50)
        .colors(['#b22222','#ce6153','#e49689','#f5cac3', '#bdd7e7', '#6baed6', '#3182bd', '#08519c'])
        .title("TEC Current")
        .format(d3.format(".2f"))
        .extent([-5.0, 5.0]));
        
    div.append("div")
      .attr("class", "axis")
      .call(context.axis().orient("bottom"));
        
});

// On mousemove, reposition the chart values to match the rule.
context.on("focus", function(i) {
  d3.selectAll(".value").style("right", i == null ? null : context.size() - i + "px");
});

</script>
